<h1 class="uk-heading-line uk-text-center"><span>This is links</span></h1>
<div class="uk-child-width-1-1@s uk-text-center" uk-grid>
  <div>
    <% @links.order(created_at: :desc).each do |link| %>
      <div class="uk-background-default uk-padding uk-panel">
        <%= link.title %><br>
        <%= link.link %><br>
        <%= link_to "Show Link", link_path(link), class: "uk-button uk-button-default" %><br>
      </div>
    <% end %>
  </div>
</div>
